# Ad soyad email pandas

In [1]:
people = {
    'first_name': ['Aygun','Ayten','Arzu','Kenan',"Ayxan",'Natiq','Gunel','Fidan','Lale','Nergiz'],
    'last_name': ['Qurbanli','Rzayeva','Qurbanova','Vezirov','Sadiqli','Demirov','Rzazade','Rustambayli','Nezirli','Rizvanova'],
    'gender':['female','female','female','male','male','male','female','female','female','female'],
    'email':['AygunQurbanli@gmail.com', 'AytenRzayeva@gmail.com', 'ArzuQurbanova@gmail.com', 'KenanVezirov@gmail.com', 'AyxanSadiqli@gmail.com', 'NatiqDemirov@gmail.com', 'GunelRzazade@gmail.com', 'FidanRustambayli@gmail.com', 'LaleNezirli@gmail.com', 'NergizRizvanova@gmail.com']
}

In [2]:
import pandas as pd
df = pd.DataFrame(people)

In [3]:
df.loc[:7,'email']

0       AygunQurbanli@gmail.com
1        AytenRzayeva@gmail.com
2       ArzuQurbanova@gmail.com
3        KenanVezirov@gmail.com
4        AyxanSadiqli@gmail.com
5        NatiqDemirov@gmail.com
6        GunelRzazade@gmail.com
7    FidanRustambayli@gmail.com
Name: email, dtype: object

In [4]:
df.head()

  first_name  last_name  gender                    email
0      Aygun   Qurbanli  female  AygunQurbanli@gmail.com
1      Ayten    Rzayeva  female   AytenRzayeva@gmail.com
2       Arzu  Qurbanova  female  ArzuQurbanova@gmail.com
3      Kenan    Vezirov    male   KenanVezirov@gmail.com
4      Ayxan    Sadiqli    male   AyxanSadiqli@gmail.com

In [5]:
df.shape

(10, 4)

In [6]:
pd.set_option('display.max_columns',2)

In [7]:
df.tail()

  first_name  ...                       email
5      Natiq  ...      NatiqDemirov@gmail.com
6      Gunel  ...      GunelRzazade@gmail.com
7      Fidan  ...  FidanRustambayli@gmail.com
8       Lale  ...       LaleNezirli@gmail.com
9     Nergiz  ...   NergizRizvanova@gmail.com

[5 rows x 4 columns]

In [8]:
df['gender'].value_counts()

female    7
male      3
Name: gender, dtype: int64

In [9]:
filt = (df['gender'] == 'female')
df.loc[filt,'last_name']

0       Qurbanli
1        Rzayeva
2      Qurbanova
6        Rzazade
7    Rustambayli
8        Nezirli
9      Rizvanova
Name: last_name, dtype: object

In [10]:
df.apply(pd.Series.min)

first_name                       Arzu
last_name                     Demirov
gender                         female
email         ArzuQurbanova@gmail.com
dtype: object

In [14]:
df.loc[:]['first_name'].sort_values()

2      Arzu
0     Aygun
1     Ayten
4     Ayxan
7     Fidan
6     Gunel
3     Kenan
8      Lale
5     Natiq
9    Nergiz
Name: first_name, dtype: object